* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  background-color: papayawhip;
  font-family: "Open Sans", sans-serif;
}

.container {
  padding: 20px 40px;
  width: 80%;
  line-height: 1.68;
}

main, header, footer {
  padding: 20px;
  /* border: 1px solid #000000; */
  color: #141414;
}

.back-button {
  height: 5vh;
}



h1 {
  font-family: "Libre Baskerville", serif;
  text-transform: capitalize;
  font-size: 3.68em;
  line-height: 1.4em;
}

.pullquote {
  color: #d3d3d3;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 1.68em;
  line-height: 1.2em;
  padding: 20px 0;
}
