/* WEB PAGE LAYOUT */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
}

body {
    /* background-color: palegoldenrod; */
    min-height: 100vh;
}

header, 
footer, 
main {
    padding: 20px;
    border: 1px solid #000000;
    color: #141414;
}

header,
footer {
    height: 20vh;
}

main {
    height: 60vh;
}

/* INVITATION LAYOUT */

.invite-container {
    padding: 20px;
}

.section {
    padding-bottom: 30px;;
}

.light {
    color: lightgrey;
}

.dark {
    font-weight: bold;
}

.small {
    font-size: 12px;
}

.big {
    font-size: 24px;
}